#navbar {
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 90px;
}


/* AboutMe */

#aboutMe .items {
  flex-direction: column;
}

#aboutMe .items .item {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.projects .project {
    flex-direction:column;
    align-items:center;
}

.comment-details{

flex-direction:column;
}
.comment .user{
  
  margin-top: 15px;
  margin-left: 0px;
  
}
.comment{

  width:90%;
}

#aboutMeParagraph{
  padding: 0px;
}